.title-charts-page{
    display: flex;
    padding: 10px;
}
.chart-warp{ 
    flex-direction: column; 
}
.options-warp-chart{
    display: flex;
    align-items: left;
    flex-direction: column;
    flex: 1;
    padding: 10px
  }
.options-buttons-chart{ 
    margin-left: 10;
    display: flex;
    margin-top: 18px;
    align-items: center;
    justify-content: center;
}
.switch-charts-warp{
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.switch-charts-text
    { 
        text-align: center 
    }
.options-pagination{ 
    flex: 1; 
    display: flex; 
    justify-content: space-between; 
}