.two-charts-warp{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 4 * 1000;
    width: 4 * 100;
  }
.title-two-charts{
    display: flex;
    padding: 10px;
  }
.litros-legend{
    color: blue;
}
.temp-legend
    {
        color: #8884d8;
      }
.horario-legend{
    color:black
}

.legend-warp-two-charts{
    background-color: #FFFAFA;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

.GL-legend{
    color: #82ca9d;
  }